In [ ]:
!pip install faker
import sqlite3
from faker import Faker

# create a new SQLite database and a new table called "people"
connection = sqlite3.connect("sample.db")
#table = 'CREATE TABLE people (id integer primary key, name TEXT, surname TEXT)'
#cursor = connection.cursor()
#cursor.execute(table)

# generate 100 fake names using the Faker library
fake = Faker()
names = [fake.name().split() for i in range (100)]
names = [name for name in names if len(name)==2]

# insert the fake names into the "people" table
insert_query = 'INSERT INTO people(name, surname) VALUES(?,?)'
cursor = connection.cursor()
for name in names:
    cursor.execute(insert_query, name)

# commit the changes to the database
connection.commit()

In [ ]:
# retrieve the first ten rows from the "people" table
cursor = connection.cursor()

select_query = 'SELECT * FROM people LIMIT 10'
cursor.execute(select_query)
rows = cursor.fetchall()

In [ ]:
# print the rows
for row in rows:
    print(row)

In [ ]:
surname_query = 'SELECT SURNAME FROM PEOPLE'
for result in cursor.execute(surname_query):
  print (result)

In [ ]:
name_desc_query = 'SELECT name,surname FROM PEOPLE ORDER BY NAME DESC'
for result in cursor.execute(name_desc_query):
  print(result)

In [ ]:
specific_name_desc_query = "SELECT name,surname FROM people WHERE name = 'Susan' ORDER BY name DESC"
for result in cursor.execute(specific_name_desc_query):
  print(f"First Name: {result[0]}, \nLast name: {result[1]}")

In [ ]:
select_query_for_top20 = 'SELECT * FROM people LIMIT 20'
for result in cursor.execute(select_query_for_top20):
  print(result)

In [ ]:
s__query_using_like = 'SELECT name,surname FROM people WHERE name LIKE "%s__" '
for result in cursor.execute(es_query_using_like):
  print(result)

In [ ]:
cursor.close()
connection.close()